body{
    margin: 0px; 
    padding: 0px; 
}
img{ 
    width: 25%;
} 
nav{ 
    background-color: goldenrod;
} 
.logoinsta{ 
    width: 50px; 
    float: left;
} 
.letra_insta{ 
    color: dodgerblue;
} 
.LogoPelu{ 
    float: left; 
    width: 100px;
}